body {margin:0;}

.header-menu {
  text-align: center;
  margin: 30px 0;
}
.header-menu ul {
  list-style-type: none;
}

.header-menu li {
  display: inline;
  padding: 0 25px;
}
.header-menu a {
  text-decoration: none;
  font-family: courier;
  font-size: 20pt;
  font-weight: bold;
  text-transform: uppercase;
  color: #16a085;
  text-align: left;
}
.main-text {
  background: #f5f6f7;
  padding-top: 60px;
  padding-bottom: 30px;
}
.main-text-title {
  margin: 0;
  font-size: 22pt;
  text-align: center;
  color: #373737;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.main-text p{
  color: #373737;
  font-size: 16pt;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  width: 90%;
  margin: auto;
  padding: 15px 0;
}

img {
  vertical-align: middle;
}

.get-started-button {
  display: block;
  width: 115px;
  height: 25px;
  background: #16a085;
  padding: 20px 30px 15px 30px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin: 15px auto 0px auto;
  text-decoration: none;
  text-transform: uppercase;
}

.footer{
  text-align: right;
  font-size: 16pt;
  font-weight: bold;
  padding: 50px 5% 45px 0;
  color: black;
}
